<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Directory</title>
    <meta name="description" content="employee directory">
    <meta name="viewport" content="width=device-width">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css" media="screen">
    <link rel="stylesheet" href="/css/reset.css" media="screen">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,900italic,400italic' rel='stylesheet' type='text/css'>    

    <!-- Javascript -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
      <% include header %>

      <%- body %>      
  </body>
</html>

