<div id="titleRow">
    <div class="container">
        <h1 class="work">
            <span class="lft"></span><span class="mid">Thank You</span><span class="rt"></span>
        </h1>
    </div>
</div>

<div id="request" class="green-row">
    <div class="container">
        <h2>
            <span class="lft"></span><span class="mid">Request a quote</span><span class="rt"></span>
        </h2>

    </div>
</div>